html,
body,
div,
a,
img {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	line-height: 1;
}

.btn {
	width: 114px;
	height: 113px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -57px;
	margin-top: -57px;
}
